<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>Insert title here</title>
<!-- <script src="../js/angular.min.js"></script>

<script src="../js/angular-route.min.js"></script>

<script src="../js/angular-resource.min.js"></script> -->
<script src="../js/baseApp.js"></script>
</head>

<body ng-app="baseApp">
<div ng-controller="LoginController">

	<form name="loginForm" >

	<label  name="firstname" >First Name :</label>
	<input type="text"  name="firstname" />{{firstname}}
	<br>
	<label name="lastname">Last Name  :</label>
	<input type="text" name="lastname"/>
	<br>
	<button type="submit" name="click">Submit</button>

	</form>
</div>
</body>