<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>Insert title here</title>
<script src="../js/angular.min.js"></script>

<script src="../js/angular-route.min.js"></script>
<script src="../js/angular-resource.min.js"></script>
<script src="../js/baseApp.js"></script>
</head>

<body ng-app="baseApp">
<div ng-controller="RegisterController">
<form name="registerForm">

<label for="firstname" >First Name :</label>
<input type="text" name="firtstname">
</br>
<label for="email">Email  :</label>
<input type="text" name="email" ng-model="email"/>
</br>
<button type="submit" name="submit">Submit</button>

</form>
</div>
</body>
